.exchange-screen {
  padding: 1rem;

  background: var(--homescreen-bg);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "sidebar sidebar exchange exchange exchange exchange exchange exchange exchange walletInfo walletInfo walletInfo";
}

.exchange {
  grid-area: exchange;
}
