.settings-screen {
  padding: 1rem;

  background: var(--homescreen-bg);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "sidebar sidebar settings settings settings settings settings settings settings walletInfo walletInfo walletInfo";
}

.settings {
  grid-area: settings;
}
