.profile-screen {
  padding: 1rem;

  background: var(--homescreen-bg);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "sidebar sidebar profile profile profile profile profile profile profile walletInfo walletInfo walletInfo";
}
