.backdrop {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  background: #6f6f6f;

  opacity: 0.7;
}

.dialog-box {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;

  transform: translate(-50%, -50%);

  border-radius: 1rem;

  background: var(--white);

  box-shadow: 0 2px 2px 0 var(--dialog-shadow);
}

.hidden {
  display: none;
}

.dialog-header {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-header > img {
  padding: 0.25rem;

  filter: invert(86%) sepia(7%) saturate(4%) hue-rotate(14deg) brightness(93%)
    contrast(78%);
}
.dialog-header > img:hover {
  background: #ebecf0;

  filter: none;

  border-radius: 2rem;
}

.dialog-content {
  margin: 0 0 3rem 0;
  padding: 1rem;
}

.dialog-actions {
  padding: 1rem;

  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dialog-actions > * {
  margin-left: 1rem;

  width: 4rem;
}
