.open-transaction-tile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.1rem;
}

.open-transaction-tile h5 {
  color: #0e1446;
  font-size: smaller;
  font-weight: 500;
}

.open-transaction-tile div div {
  color: #9195a1;
  font-size: x-small;
  font-weight: 300;
}

.open-transaction-tile p {
  color: #67cef4;
}
